



*{
  margin: 0px;
  padding: 0px;
 }
 .navbar {
   overflow: hidden;
   background-color: #333;
   position: fixed;
   top: 3;
   width: 100%;
   position: relative;
  
   transform: none;
 
   
 }
 .navbar a { 
   float: left;
   word-spacing: 2em;
    text-align: center;
     display: block;
     color: #f2f2f2;
     
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
   }
   .navbar a:hover {
     background: #ddd;
     color: black;
     background-color: salmon;
   }
 
   h4{
     text-decoration: none;
      text-align: center;
        text-decoration: wavy;
        font-weight: normal;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
   }
   
 body{
  font-family: arial;
 }
 .main{
 
  margin: 2%;
 }
 
 .card{
  width: 20%;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px; 
  margin: 2%;
 
 }

.image img{
width: 100%;
border-top-right-radius: 5px;
border-top-left-radius: 5px;



}

.title{

text-align: center;
padding: 10px;

}

h1{
font-size: 20px;
}
h4{
  font-size: 18px; 
  font-variant: petite-caps;
}
.head h1{
color: rgb(0, 0, 0);
text-align: center;
background-color: silver;
padding: 15px;
font-size: 25px;
font-family: sans-serif;

}

.des{
padding: 3px;
text-align: center;

padding-top: 10px;
     border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}
button{
margin-top: 40px;
margin-bottom: 10px;
background-color: white;
border: 1px solid black;
border-radius: 5px;
padding:10px;
}
button:hover{
background-color: black;
color: white;
transition: .5s;
cursor: pointer;
}
